body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 20px;

}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.text {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 8px;
    
    text-align: justify;
}

 h2.titl {
    
    font-family: sans-serif;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: normal;
    font-variant: small-caps;
    font-style: normal;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

a:link:hover, a:visited:hover  {
    color: #000000;
    font-weight : bold;
}

#navigation{
    width:100%;
    

    margin: 0px;

    padding: 0px;
}

.errorrow {
    background-color: #ffcccc;
}